{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="container">
    <h2>Contact Us</h2>
    <div class="mb-3">
        <form method="POST" action="/contact">
            {% csrf_token %}
            <div class="from-group">
                <label for="name">Name</label>
                <input type="text" class="from-control" id="name" name="name" placeholder="Enter YourName">
            </div>

            <div class="from-group">
                <label for="name">Email</label>
                <input type="text" class="from-control" id="email" name="email" placeholder="Enter Your Email">
            </div>

            <div class="from-group">
                <label for="name">Phone Number</label>
                <input type="text" class="from-control" id="number" name="number" placeholder="Enter Your Phone Number">
            </div>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Example textarea</label>
            <textarea class="form-control" id="message" name="message" rows="3" style="resize: none;"></textarea>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
</div>
{% endblock body %}

